body {
  background: #2D1339;
}

.card {
  padding: 2em;
}

.read-the-docs {
  color: #888;
}

.heading {
  height: 200px;
  font-size: 45px;
  color: white;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
}

@media only screen and (min-width: 600px) {
  .heading {
    height: 100px;
  }
}

.timmer-container {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 60px;
}

.input-area {
  box-shadow: 3px 3px 3px #E57DD9;
  text-align: center;
  height: 90px;
  width: 70px;
  font-size: 35px;
  border-radius: 10px;
}

@media only screen and (min-width: 600px) {
  .input-area {
    height: 300px;
    width: 300px;
    font-size: 90px;
    border-radius: 20px;
  }
}

.btn-container {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 30px;
  margin-top: 50px;
}

.btn {
  padding: 20px 40px;
  border-radius: 40px;
  background-color: #E57DD9;
  color: white;
  font-size: 20px;
}

@media only screen and (max-width: 600px) {
  .btn {
    padding: 10px 20px;
  }
}

.reset {
  background-color: #56435E;
}

@media only screen and (min-width: 600px) {
  .watch-img{
    margin-top: 20px;
    position: absolute;
    right: 1.5rem;
    bottom: 2rem;
  }
}

.watch-img {
  margin-top: 20px;
  position: absolute;
  right: 1.5rem;
}
